{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.json",
      "options": { "tabWidth": 2 }
    },
    {
      "files": ".*rc",
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    }
  ]
}
